.home {

    background: #000;
    width: 10px;
    height: 10px;
}

.card {

    background-color: red;
    color: blanchedalmond;
    margin-top: 30px;
    display: none;
}

h1 {
   
    color: violet;
    display: none;
}